.chat-container {
  display: flex;
  padding: 10px;
}

.left-chat {

}

.right-chat {
    margin-left: auto;
    text-align: right;
}

h1 {
    text-align: center;
}

#starting-things {
    text-align: center;
}
body { 
    background-color: rgb(202, 210, 223); 
}
