.chat-container {
  display: flex;
  padding: 10px;
  word-break: break-all;
}

.left-chat {

}

.right-chat {
    margin-left: auto;
    text-align: right;
}

h1 {
    text-align: center;
}

#starting-things {
    text-align: center;
}
body { 
    background-color: rgb(225, 239, 252); 
}
textarea{
    width: 250px;
    margin-bottom: -9px;
}